@import "./variables";

footer {
    #footerImg {
        background-image: linear-gradient(
                to bottom,
                $BackgroundColor,
                rgba(0, 0, 0, 0)
            ),
            url("../images/logo/footer-bg.jpg");
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        #imgText {
            padding-top: 7%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .footerBottom {
        @include flexCenter();

        background-color: $PrimaryColor;
        color: white;
        height: 4em;
    }
}
